#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEF 0
#define HDN 1
#define DVK 2
#define BKL 3
#define CTG 4
#define NUM 5
#define NAV 6
#define SYS 7

/ {

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "homerow mods";
            #binding-cells = <2>;
            tapping_term_ms = <225>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;
        };

        
    };

    combos {
        compatible = "zmk,combos";

        combo_bspc {
            timeout-ms = <50>;
            key-positions = <17 18>;
            bindings = <&kp BSPC>;
        };
    };

    macros {
        jon: jon {
            label = "jon";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings
                = <&macro_tap_time 10>
                , <&kp J &kp O &kp N>
                ;
        };

        arrow: arrow {
            label = "arrow";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings
                = <&macro_tap_time 10>
                , <&kp MINUS &kp GT>
                ;
        };

        darrow: darrow {
            label = "double arrow";
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            wait-ms = <10>;
            bindings
                = <&macro_tap_time 10>
                , <&kp EQUAL &kp GT>
                ;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp Q   &kp W   &kp E   &kp R   &lt SYS T                       &kp Y   &kp U   &kp I   &kp O   &lt SYS P  
                &kp A   &kp S   &kp D   &kp F   &kp G                       &kp H   &kp J   &kp K   &kp L   &kp SEMICOLON  
                &hm LCTRL Z   &hm LALT X   &hm LSHFT C   &kp V   &kp B      &kp N   &kp M   &kp COMMA   &kp DOT   &kp ENTER
                        &lt NAV SPACE  &hm LGUI ENTER                  &hm LSHFT SPACE  &lt NUM BSPC
            >;
        };

        handsdown_layer {
            bindings = <
                &kp Q   &kp W   &kp D   &kp F   &lt SYS P                       &kp J &kp U   &kp O   &kp Y   &lt SYS SEMICOLON
                &kp A   &kp S  &kp R       &kp T   &kp G                       &kp H   &kp N   &kp E   &kp I   &kp L  
               &hm LCTRL Z   &hm LALT X   &hm LSHFT C   &kp V   &kp B      &kp K   &kp M   &kp COMMA   &kp DOT   &kp ENTER
                        &lt NAV SPACE   &hm LGUI   ENTER                &hm LSHFT SPACE  &lt NUM BSPC
            >;
        };

        dvorak_layer {
            bindings = <
                &kp SQT   &kp COMMA   &kp DOT   &kp P   &lt SYS Y                       &kp F &kp G   &kp C   &kp R   &lt SYS L
                &kp A   &kp O  &kp E       &kp U   &kp I                      &kp D   &kp H   &kp T   &kp N   &kp S  
               &hm LCTRL SEMICOLON   &hm LALT Q   &hm LSHFT J   &kp K   &kp X      &kp B   &kp M   &kp W   &kp V   &kp Z
                        &lt NAV SPACE   &hm LGUI   ENTER                &hm LSHFT SPACE  &lt NUM BSPC
            >;
        };

        beakl_layer {
            bindings = <
                &kp Q   &kp H   &kp O   &kp U   &lt SYS X                        &kp G   &kp C  &kp M &kp R   &lt SYS V
                &kp Y   &kp I  &kp E       &kp A   &kp SEMICOLON                      &kp D   &kp S   &kp T   &kp N   &kp B  
               &hm LCTRL J   &hm LALT COMMA   &hm LSHFT DOT   &kp K   &kp SQT      &kp W   &kp F   &kp L   &kp P   &kp Z
                        &lt NAV SPACE   &hm LGUI   ENTER                &hm LSHFT SPACE  &lt NUM BSPC
            >;
        };

        ctgap_layer {
            bindings = <
                &kp Q   &kp P   &kp L   &kp C   &lt SYS J                &kp X   &kp F  &kp O     &kp U   &lt SYS SEMICOLON
                &kp R   &kp N  &kp T    &kp S   &kp G                    &kp Y   &kp H   &kp E   &kp I   &kp A  
               &hm LCTRL Z   &kp B  &hm LALT M   &hm LSHFT W   &kp V     &kp K   &kp D   &kp SQT  &kp COMMA   &kp DOT
                        &lt NAV SPACE   &hm LGUI   ENTER                &hm LSHFT SPACE  &lt NUM BSPC
            >;
        };

        num_layer {
            bindings = <
                &kp EXCL   &kp AT   &kp HASH   &kp DOLLAR   &kp PERCENT           &kp CARET   &kp AMPS   &kp STAR   &kp LPAR   &kp RPAR  
                &kp N1   &kp N2   &kp N3   &kp N4   &kp N5                          &kp N6   &kp N7  &kp N8   &kp N9   &kp N0  
                &kp F1   &kp F2   &kp F3   &kp F5   &kp F12                     &kp LT   &kp GT   &kp TILDE   &kp FSLH   &kp QMARK 
                        &trans   &trans                     &trans   &trans  
            >;
        };

        nav_layer {
            bindings = <
                &kp ESC   &kp DEL   &kp UP  &kp BSPC    &jon                &kp PIPE    &kp BSLH  &kp UNDER   &kp PLUS   &kp DQT
                &kp TAB   &kp LEFT   &kp DOWN   &kp RIGHT   &arrow           &kp LBRC   &kp RBRC   &kp MINUS   &kp EQUAL    &kp SQT  
                &kp LCTRL   &kp LALT   &kp LSHFT   &kp GRAVE   &darrow       &kp LBKT   &kp RBKT   &kp RGUI   &kp RALT   &kp RCTRL
                        &trans   &trans                     &trans   &trans  
            >;
        };

        system_layer {
            bindings = <
                 &trans &trans   &trans  &trans   &trans               &to BKL   &to CTG  &trans   &kp BSPC   &trans  
                 &trans   &trans  &trans   &trans  &trans              &to DEF   &to HDN  &to DVK   &trans    &trans
                 &trans   &bt BT_NXT  &bt BT_PRV  &bt BT_CLR   &reset      &reset   &bt BT_CLR  &bt BT_PRV   &bt BT_NXT  &trans
                        &trans   &trans                     &trans   &trans  
            >;
        };

        


    };
};
